:root{
  --primaryColor: #04c2c9;
  --mainColor:#a6db15;
  --mainDark: #252934;
  --mainBlack: #1f2027;
}
h1{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: var(--mainBlack);
  padding-top: 40px;
  font-weight: 900;
  padding-bottom: 20px;
}
p{
  font-family: 'Open Sans', sans-serif;
 
}
.sectionppage{
  padding: 70px 0px 70px 0px;
}
.sectionppage h1 .underline{
  width: 6%;
  position: relative;
  top: -15px;
  border-bottom: 4px solid var(--mainColor);
}
.footer{
  background: var(--mainDark);
  padding: 85px 0px 60px 0px;
  color: white
}
.footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
  
}
.footer ul li{
  display: inline;
  margin: 40px;
  background: #262f38;
  padding: 20px; 
  transition: 0.4s all ease; 
  border-block-width: 1px;
  /* position: relative; */
}
.footer a{
  text-decoration: none;
}
.footer ul li:hover{
  background:  #33788d;
  border:2px solid #3d5f69; 
}
.footer a:hover{
  text-decoration: none;
}
.footer .social-icons{
  color: white;
  font-size: 20px;
}
.footer h6{
  color:white;
  text-transform: uppercase;
  padding-top: 40px;
}
.footer h6 .unique-color{
  color: var(--primaryColor);
}










































