:root{
  --primaryColor: #04c2c9;
  --mainColor:#a6db15;
  --mainDark: #252934;
  --mainBlack: #1f2027;
  --logoText:'Updock', cursive;
  --logo2Text: 'Neonderthaw', cursive;
  --headingFamily: 'Raleway', sans-serif;
  --textFamily: 'Open Sans', sans-serif;
}
h1{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: var(--mainBlack);
  padding-top: 40px;
  font-weight: 900;
  padding-bottom: 20px;
}
p{
  font-family: 'Open Sans', sans-serif;
 
}
.sectionppage{
  padding: 40px 0px 40px 0px;
}
.sectionppage h1 .underline{
  width: 6%;
  position: relative;
  top: -15px;
  border-bottom: 4px solid var(--mainColor);
}
.footer{
  background: var(--mainDark);
  padding: 85px 0px 60px 0px;
  color: white
}
.footer ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
  
}
.footer ul li{
  display: inline;
  margin: 40px;
  background: #262f38;
  padding: 20px; 
  transition: 0.4s all ease; 
  border-block-width: 1px;
  /* position: relative; */
}
.footer a{
  text-decoration: none;
}
.footer ul li:hover{
  background:  #33788d;
  border:2px solid #3d5f69; 
}
.footer a:hover{
  text-decoration: none;
}
.footer .social-icons{
  color: white;
  font-size: 20px;
}
.footer h6{
  color:white;
  text-transform: uppercase;
  padding-top: 40px;
}
.footer h6 .unique-color{
  color: var(--primaryColor);
}

.successform{
  position: fixed!important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(37, 34, 37, 0.986), rgba(36, 30, 30, 0.986)), url("./images/portfoliobg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index:999;
  color: #fff;
}
.success-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--textFamily);
  text-align: center;

}.success-container h2{
  font-weight: 600;
  padding-bottom: 20px;
}
.success-but{
  margin: 40px auto;
  border: 2px solid var(--primaryColor);
  width: 200px;
  background: transparent;
}
.success-btn{
  padding: 20px 0px;
  font-size: 20px;
}
.success-btn:hover{
  color: var(--primaryColor);
  text-decoration: none;
}










































